
<section class="home-slider owl-carousel img" style="background-image: url(/Content/images/bg_1.jpg);">
    <div class="slider-item" style="background-image: url(/Content/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">We cooked your desired Pizza Recipe</h1>
                    <p class="mb-4 mb-md-5">ANYONE WHO SAYS THAT MONEY CANNOT BUY HAPPINESS HAS CLEARLY NEVER SPENT THEIR MONEY ON PIZZA</p>
                    <p>  <a href="@Url.Action("Menu")" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">
                <div class="col-md-6 col-sm-12 ftco-animate">
                    <span class="subheading">Delicious</span>
                    <h1 class="mb-4">Mama Sumpreme 1</h1>
                    <p class="mb-4 mb-md-5">Pepperoni, Sausage Green Pepper, Onion Black Olive, Mushroom</p>
                    <p><a href="@Url.Action("Menu")" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
                <div class="col-md-6 ftco-animate">
                    <img src="~/Content/images/m1.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">
                <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
                    <span class="subheading">Crunchy</span>
                    <h1 class="mb-4">Mama Supreme 2</h1>
                    <p class="mb-4 mb-md-5">Chicken, Gyros Green Pepper, Onion Black Olive</p>
                    <p>  <a href="@Url.Action("Menu")" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
                <div class="col-md-6 ftco-animate">
                    <img src="~/Content/images/m2.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
</section>