


@Html.Partial("_sliderPartial")

<!-- render body -->  


<section class="ftco-about d-md-flex">
    <div class="one-half img d-flex ftco-animate" style="background-image: url(/Content/images/bigimage.jpg);"> </div>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate fadeInUp ftco-animated">
            <h2 class="mb-4" style="text-align:center;">Our Story</h2>
            <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        </div>
        <hr />
        <hr />
        <hr />
        <div>
 
            <p style="color: white;" >
                Est.2003. Mama Maria is a family owned restaurant that was created by a local, Des Plaines family, who wanted to give its community members and the community at large another option to consider when going out to eat. Furthermore, due to the lack of Halal options, the family hoped that it's full Zabiha Halal menu would be well received not only by the local Muslim community but everyone who valued healthy ingredients.
            </p>         
            <br />
            <p style="color: white;">Thankfully, slowly but surely, Mama Maria was able to win over its community members who now regularly come to Mama Maria to enjoy delicious and affordable dishes for the entire family. Since the opening of its first location, Mama Maria has not only expanded its menu but has expanded to another location in Schaumburg. Please stop by! We would love to serve you!</p>

         </div>
    </div>
</section>
