



@Html.Partial("_sliderPartial")

<!-- render body -->  
<div class="row no-gutters justify-content-center mb-5 pb-3 mt-2 pt-2">
    <div class="col-md-7 heading-section text-center ftco-animate fadeInUp ftco-animated">
        <h2 class="mb-4">Locations</h2>
        <p class="flip"><span class="deg1"></span><span class="deg2"></span><span class="deg3"></span></p>
        

    </div>
</div>

<section class="ftco-about d-md-flex ftco-animate mb-3">
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4 text-center">Mama Maria Des Plaines</h2>
        </div>
        <div class="ftco-animate text-center">
            <h6>
                590 Potter Rd.
                Des Plaines, IL 60016 <a href="tel:1-847-297-7181">(847) 297-7181</a>
            </h6>
        </div>
        <div class="justify-content-center ftco-animate">
            <table class="table table-striped table-dark ft ftco-animated justify-content-center">
                <thead>
                    <tr>
                        <th scope="col">Day</th>
                        <th scope="col">Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mon-Thurs</td>
                        <td>11:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>11:00am - 11:00pm</td>
                    </tr>
                    <tr>
                        <td>Sat-Sun</td>
                        <td>11:00am - 10:00pm</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2962.9810933527256!2d-87.86272688505031!3d42.043585763021746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fb7e41d217a33%3A0xb68368abb687b10!2s590%20Potter%20Rd%2C%20Des%20Plaines%2C%20IL%2060016%2C%20USA!5e0!3m2!1sen!2s!4v1570804518870!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>
<section class="ftco-about d-md-flex ftco-animate mb-3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2963.9636931807345!2d-88.08132998505106!3d42.022511264344445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880faed807ed7a59%3A0x48a6cb29ad0e9510!2s245%20S%20Roselle%20Rd%2C%20Schaumburg%2C%20IL%2060193%2C%20USA!5e0!3m2!1sen!2s!4v1570801070250!5m2!1sen!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    <div class="one-half ftco-animate">
        <div class="heading-section ftco-animate ">
            <h2 class="mb-4 text-center">Mama Maria Schaumburg</h2>
        </div>
        <div class="ftco-animate text-center">
            <h6>
                245 S Roselle Rd.
                Schaumburg, IL 60193 <a href="tel:1-847-534-0910">(847) 534-0910</a>
            </h6>
        </div>
        <div class="justify-content-center ftco-animate">
            <table class="table table-striped table-dark ft ftco-animated justify-content-center">
                <thead>
                    <tr>
                        <th align="center" scope="col">Day</th>
                        <th scope="col">Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mon-Thurs</td>
                        <td>11:00am - 10:00pm</td>
                    </tr>
                    <tr>
                        <td>Friday</td>
                        <td>11:00am - 11:00pm</td>
                    </tr>
                    <tr>
                        <td>Saturday</td>
                        <td>12:00pm - 11:00pm</td>
                    </tr>
                    <tr>
                        <td>Sunday</td>
                        <td>12:00pm - 10:00pm</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>