
@*@{
    ViewBag.Title = "test";
}

<h2>test</h2>



<div class="extralargecheckboxes row">

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Banana Pepper Extra Large" class="radio" value="9.99" name="fooby[1][]" />Banana Pepper
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Bihari Kabob Extra Large" class="radio" value="4.00" name="fooby[2][]" />Bihari
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Black Olive Extra Large" class="radio" value="9.99" name="fooby[3][]" />Black Olive
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Cheese Extra Large" class="radio" value="9.99" name="fooby[4][]" />Cheese
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Chicken Tikka Extra Large" class="radio" value="12.99" name="fooby[5][]" />Chicken Tikka
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Green Olive Extra Large" class="radio" value="9.99" name="fooby[6][]" />Green Olive
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Green Pepper Extra Large" class="radio" value="9.99" name="fooby[7][]" />Green Pepper
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Gyros Extra Large" class="radio" value="12.99" name="fooby[8][]" />Gyros
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Jalapeno Extra Large" class="radio" value="9.99" name="fooby[9][]" />Jalapeno
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Mushroom Extra Large" class="radio" value="9.99" name="fooby[10][]" />Mushroom
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Onion Extra Large" class="radio" value="9.99" name="fooby[11][]" />Onion
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Pepperoni Extra Large" class="radio" value="11.99" name="fooby[12][]" />Pepperoni
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Pineapple Extra Large" class="radio" value="9.99" name="fooby[13][]" />Pineapple
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Sausage Extra Large" class="radio" value="11.99" name="fooby[14][]" />Sausage
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Spinach Extra Large" class="radio" value="9.99" name="fooby[15][]" />Spinach
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Tomato Extra Large" class="radio" value="9.99" name="fooby[16][]" />Tomato
    </div>

    <div class="col-md-6 col-lg-4 col-xs-12 col-sm-6 ">
        <input type="checkbox" data-name="Turkey Ham Extra Large" class="radio" value="11.99" name="fooby[17][]" />Turkey Ham
    </div>

</div>*@



<section class="home-slider owl-carousel img" style="background-image: url(/Content/images/bg_1.jpg);">
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">
                <div class="col-md-6 col-sm-12 ftco-animate">
                    <span class="subheading">Delicious</span>
                    <h1 class="mb-4">Mama Sumpreme</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p>  <a href="@Url.Action("Menu")" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
                <div class="col-md-6 ftco-animate">
                    <img src="~/Content/images/bg_1.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center" data-scrollax-parent="true">
                <div class="col-md-6 col-sm-12 order-md-last ftco-animate">
                    <span class="subheading">Crunchy</span>
                    <h1 class="mb-4">Mama Supreme</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p>  <a href="@Url.Action("Menu")" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
                <div class="col-md-6 ftco-animate">
                    <img src="~/Content/images/bg_2.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item" style="background-image: url(/Content/images/bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <span class="subheading">Welcome</span>
                    <h1 class="mb-4">We cooked your desired Pizza Recipe</h1>
                    <p class="mb-4 mb-md-5">A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                    <p>  <a href="@Url.Action("Menu")" class="btn btn-white btn-outline-white p-3 px-xl-4 py-xl-3">View Menu</a></p>
                </div>
            </div>
        </div>
    </div>
</section>